<i><h2>You are Editing  <%= @dog.name %>'s Infomation!</h2></i> 
<hr>
<i><p> It's important to update your dog's info and your Contact information so everything can run smoothly!</p></i>

<%= render 'form', dog: @dog %>