<i><h1>Welcome to the vet!</h1></i>
<hr>
<i><p>We are so happy that you are here and our app is to help you keep your dog healthy and in great shape! </p></i>
<br>
<i><p>Your Pets Here! </p></i>

<br>
<ul>
<% @dogs.each do |dog| %>
<li><h3><%= link_to dog.name, dog_path(dog) %></h3></li><br>
<% end%>
</ul>
