<i><h2>Put your Dog's Information in! </h2></i>
<hr>
<i><p>Feel free to fill out the information about your dog, we would to learn more about your fun and adorable little friend or your BIG pal!</p>
<i><p>Make sure your dogs information is correct! We want accorate information for your dog so that your dog feels welcomed! </p>

<%= render 'form', dog: @dog %>