<i><h2> You are editing <%= @appointment.dog.name %>'s Appointment </h2></i>
<hr>
<i><p> We want to make sure that you can bring your dog when you are avalible so your furry friend can be healthy and strong!</p></i>
<%= render 'form', appointment: @appointment %>
  